<form action= "/home/save" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">메뉴</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="menu" placeholder="추가하고싶은 음식을 적으셈">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">사진</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="picture" placeholder="이미지 주소를 붙여넣어주세요">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">레시피</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="recipe" placeholder="레시피 주소를 넣어주세요">
  </div>
  <button type="submit" class="btn btn-default">메뉴 추가하기</button>
</form>